/* Absolute Center */
.abs-center{
	margin: auto;
	position: fixed;
	top:0; right:0; bottom:0; left:0;
}
/*Container for audio player*/
#tvc-audioplayer{
	width: 480px;
	height: 60px;
	margin: auto;
	margin-top: 50px;
	border: solid;
}
/* Play/Pause Button */
#tvc-play-button{
	height:60px;
	width: 60px;
	border: none;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	float:left;
	outline:none;

}
/*Classes for play/pause button background*/
.play{background: url('../img/play.png') ;}
.pause{background: url('../img/pause.png') ;}

#tvc-timeline{
	width: 382px;
	height: 20px;
	background: rgba(0,0,0,.3);
	margin-top: 20px;
	float: left;
	border-radius: 15px;
}
/*Grabable Playhead*/
#tvc-playhead{
	cursor: pointer;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: black;
}

.tvc-version-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#songs {
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#songs p {
	padding: 8px;
	background: silver;
}

#songs p:hover {
	background: #4CAF50;
	color: white;
}

#songs .selected {
	background: seagreen;
	color: white;
}